* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
}

body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav {
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-size: small;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.board {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-gap: 8px;
  border: 1px solid #000;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.red {
  background: #ff4444;
}

.yellow {
  background: #ffeb3b;
}

.hover-red:hover {
  background: rgba(255, 68, 68, 0.3);
}

.status {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
